<ion-header>
  <ion-toolbar>
    <div class="home">
      <ion-title>Bibliotecapp</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Buscar libro -->
  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        <ion-input slot="start" type="text" placeholder="Buscar" color="primary"></ion-input>
        <ion-icon name="search-outline" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-card-header>
  </ion-card>
  <div class="books">
    <div class="books-grid">
      <!-- Primer libro -->
      <ion-card>
        <ion-card-header>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="assets/icon/crimen_y_castigo.jpg" alt="Crimen y Castigo">
            </ion-avatar>
            <ion-label>
              <ion-card-title>Crimen y Castigo</ion-card-title>
              <ion-card-subtitle>Fiódor Dostoyevski</ion-card-subtitle>
            </ion-label>
          </ion-item>
        </ion-card-header>

        <ion-card-content>
          <div class="card-content-container">
            <img src="assets/icon/crimen_y_castigo.jpg" alt="Crimen y Castigo" class="img">
            <div class="book-description">
              La historia narra la vida de Rodión Raskólnikov, un estudiante en la capital de la Rusia Imperial, San Petersburgo,
              que se ve obligado a suspender sus estudios por la miseria en la que se encuentra, a pesar de los esfuerzos de su
              madre Pulqueria y su hermana Dunia para enviarle dinero.
            </div>
          </div>
        </ion-card-content>

        <div class="card-footer">
          <div class="card-footer-buttons">
            <ion-button fill="clear">Arrendar</ion-button>
            <ion-button fill="clear">Comprar</ion-button>
          </div>
        </div>
      </ion-card>

      <!-- Segundo libro -->
      <ion-card>
        <ion-card-header>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="assets/icon/Quijote.jpg" alt="Don Quijote De La Mancha">
            </ion-avatar>
            <ion-label>
              <ion-card-title>Don Quijote De La Mancha</ion-card-title>
              <ion-card-subtitle>Miguel de Cervantes Saavedra</ion-card-subtitle>
            </ion-label>
          </ion-item>
        </ion-card-header>

        <ion-card-content>
          <div class="card-content-container">
            <img src="assets/icon/Quijote.jpg" alt="Don Quijote De La Mancha" class="img">
            <div class="book-description">
              El ingenioso hidalgo don Quijote de la Mancha narra las aventuras de Alonso Quijano, 
              un hidalgo pobre que de tanto leer novelas de caballería acaba enloqueciendo y creyendo ser un caballero andante, 
              nombrándose a sí mismo como don Quijote de la Mancha.
            </div>
          </div>
        </ion-card-content>

        <div class="card-footer">
          <div class="card-footer-buttons">
            <ion-button fill="clear">Arrendar</ion-button>
            <ion-button fill="clear">Comprar</ion-button>
          </div>
        </div>
      </ion-card>

      <!-- Tercer libro -->
      <ion-card>
        <ion-card-header>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="assets/icon/Charles.jpg" alt="Animas">
            </ion-avatar>
            <ion-label>
              <ion-card-title>Animas de día claro</ion-card-title>
              <ion-card-subtitle>Alejandro Sieveking</ion-card-subtitle>
            </ion-label>
          </ion-item>
        </ion-card-header>

        <ion-card-content>
          <div class="card-content-container">
            <img src="assets/icon/Charles.jpg" alt="Animas de día claro" class="img">
            <div class="book-description">
              En este libro Baudelaire se centra en la descripción del mal, 
              en la apología de lo satánico y en el tratamiento del hombre 
              como ser miserable y perverso y poseedor del cuerpo como instrumento para todo tipo de vicios.
            </div>
          </div>
        </ion-card-content>

        <div class="card-footer">
          <div class="card-footer-buttons">
            <ion-button fill="clear">Arrendar</ion-button>
            <ion-button fill="clear">Comprar</ion-button>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
